<div class="centered">

<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
<div class="card-header">Crypto Value</div>
<div class="card-body">
<h5 class="card-title"><%= @crypto_id.name %> </h5>
<p class="card-text">actual value is :<br> <%= @crypto_id.value %>$ </p>
</div>
</div>